<manifest package="com.yalantis.multiselectdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher_app"
      android:label="@string/yal_ms_lib_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity android:name=".demo.DemoActivity">
      <intent-filter >
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

  </application>

</manifest>
